Unidecode
catboost
faiss-cpu
geopandas
geopy
haversine
lightgbm
matplotlib
numpy
pandas
pyproj
python-Levenshtein
rapidfuzz
rtree
scikit-learn
scipy
seaborn
sentence-transformers
shapely
torch
tqdm
transformers
xgboost
